.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dfe5e5;
  display: flex;
  flex-direction: column;
  background-image: url(components/Assets.img/Rick_y_Morty.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
